<form class="fml-playlist-name-dialog">
  <div class="form-group">
    <label for="fml-playlist-name-input">{{localize "FML.Library.PlaylistName"}}</label>
    <input id="fml-playlist-name-input" type="text" name="name" value="{{name}}" autofocus />
  </div>
</form>
